    <label><%= l(:field_users) %></label>
    <% unless users.empty? %>
    <%= users.size -%> <%= l("users".pluralize) %>
    <div id="user_items">
      <ul>
        <% users.sort.each do |user| %>
        <li><%= h user.name %></li>
        <% end %>
      </ul>
    </div>
    <% else %>
    <%= l(:user_nonexistent) %>
    <% end %>


